{
  "presets": ["env"],
  "plugins": [
    "add-module-exports"
  ],
  "env": {
    "test": {
      "plugins": [ "istanbul" ],
      "presets": [["env", { "targets": { "node": "current" } }]]
    }
  }
}
