{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 3,
        "modules": "cjs",
        "loose": true,
        "targets": {
          "ie": "8",
          "browsers": ">2%"
        }
      }
    ]
  ],
  "plugins": ["add-module-exports"],
  "env": {
    "test": {
      "plugins": ["istanbul"],
      "presets": [["@babel/preset-env", { "targets": { "node": "current" } }]]
    }
  }
}
